<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8", content="width=device-width">
  <title>Lattitude</title>
<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">                                
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen">
  <script src="https://kit.fontawesome.com/f1e181a5ee.js"></script>
</head>
<body>
    <div class="topnav">
      <button class=header onclick="window.location.href='/'">Lattitude</button>
      <div class="topnav-right">
          <div class="dropdown1">
              <button class="dropbtn" onclick="myFunction()">Plots
                  <i class="far fa-caret-square-down"></i>
              </button>
              <div class="dropdown-content" id="myDropdown">
                <a href="/maxtemp">Max Temperature</a>
                <a href="/humidity">Humidity</a>
                <a href="/cloudiness">Cloudiness</a>
                <a href="/windspeed">Wind Speed</a>
              </div>
              <button class="dropbtn" onclick="window.location.href='/comparison'">Comparison</button>
              <button class="dropbtn" onclick="window.location.href='/data'">Data</button>
          </div>
        </div>
    </div>   

  <main>
    <section class="posts">
      <article id="container" class="post">
        <h3>Summary: Latitude vs. X<br></h3>
        <div class=section-line><br><br></div>
        <img id="floated" src="/static/resources/assets/images/Fig1.png" alt="maxtemp" style="float: left; margin: 4px 10px 0px 0px;">
        <h5>The purpose of this project was to analyze how weather changes as you get closer to the equator. To accomplish this analysis, we first pulled data from the OpenWeatherMap API to assemble a dataset on over 500 cities.<br/><br/></h5>
        <h5>After assembling the dataset, we used Matplotlib to plot various aspects of the weqther vs. latitute. Factors we looked at included: temperature, cloudiness, wind speed, and humidity. This site provides the source data and visualizations created as part of the analysis, as well as explanations and descriptions of any trends and correlations witnessed.</h5>
      </article>

      <article class="post">
          <h4>Visualizations</h4>
          <table>
            <tr>
              <td><img class=hoverable-image src="/static/resources/assets/images/Fig1.png" onclick="window.location.href='/maxtemp'"></td>
              <td><img class=hoverable-image src="/static/resources/assets/images/Fig2.png" onclick="window.location.href='/humidity'"></td>
            </tr>
            <tr>
              <td><img class=hoverable-image src="/static/resources/assets/images/Fig3.png" onclick="window.location.href='/cloudiness'"></td>
              <td><img class=hoverable-image src="/static/resources/assets/images/Fig4.png" onclick="window.location.href='/windspeed'"></td>
            </tr>
        </table>
      </article>
      <div class="container">

          <div class="row">
            
            <div class="col-md-8">
              <article id="container" class="post">
                <h3>Summary: Latitude vs. X<br></h3>
                <div class=section-line><br><br></div>
                <img id="floated" src="/static/resources/assets/images/Fig1.png" alt="maxtemp" style="float: left; margin: 4px 10px 0px 0px;">
                <h5>The purpose of this project was to analyze how weather changes as you get closer to the equator. To accomplish this analysis, we first pulled data from the OpenWeatherMap API to assemble a dataset on over 500 cities.<br/><br/></h5>
                <h5>After assembling the dataset, we used Matplotlib to plot various aspects of the weqther vs. latitute. Factors we looked at included: temperature, cloudiness, wind speed, and humidity. This site provides the source data and visualizations created as part of the analysis, as well as explanations and descriptions of any trends and correlations witnessed.</h5>
              </article>
            </div>
            <div class="col-md-4">
              <article id="container" class="post">
                <h4>Visualizations</h4>
                <div class="row">
                  <div class="col-md-3">
                      <img class=hoverable-image src="/static/resources/assets/images/Fig1.png" onclick="window.location.href='/maxtemp'">
                  </div>
                  <div class="col-md-3">
                      <img class=hoverable-image src="/static/resources/assets/images/Fig2.png" onclick="window.location.href='/humidity'">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class=hoverable-image src="/static/resources/assets/images/Fig3.png" onclick="window.location.href='/cloudiness'">
                    </div>
                    <div class="col-md-3">
                        <img class=hoverable-image src="/static/resources/assets/images/Fig4.png" onclick="window.location.href='/windspeed'">
                    </div>
                </div>
              </article>
                <!-- <table>
                  <tr>
                    <td><img class=hoverable-image src="/static/resources/assets/images/Fig1.png" onclick="window.location.href='/maxtemp'"></td>
                    <td><img class=hoverable-image src="/static/resources/assets/images/Fig2.png" onclick="window.location.href='/humidity'"></td>
                  </tr>
                  <tr>
                    <td><img class=hoverable-image src="/static/resources/assets/images/Fig3.png" onclick="window.location.href='/cloudiness'"></td>
                    <td><img class=hoverable-image src="/static/resources/assets/images/Fig4.png" onclick="window.location.href='/windspeed'"></td>
                  </tr>
              </table> -->
            </div>

          </div>
        </article>
      </div>
      <article class="post">
          <h3>lalallalala</h3>
      </article>
    </section>
  </main>
  <div class="box box-1">TESTING LANDING PAGE</div>
  <div class="box box-2">TEST1</div>
  <div class="box box-3">TEST2</div>
  <div class="box box-4">T</div>
  <div class="box box-5">E</div>
    
  <div class=footer_line></div>
  <footer>
    <p>@ Copyright JJREE Coding Bootcamp 2019</p>
  </footer>

  <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      
      // Close the dropdown if the user clicks outside of it
      window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
        var myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
          }
        }
      }
  </script>
</body>
</html>